.custom-navbar{box-shadow: 10px 10px 10px #eee;
    background-color: rgb(218, 212, 212);
     color:red;
      margin : 0 !important; 
    }





    
.nav-text{   font-family: "Times New Roman", Times, serif ;color:rgb(14, 5, 5)};
